{% extends 'base.html' %}
{% load daisyui_filters %}

{% block page_header %}Team{% endblock %}

{% block content %}
<div class="tabs">
    <a class="tab tab-lifted">Access</a> 
    <a class="tab tab-lifted tab-active">SSH Keys</a> 
    <a class="tab tab-lifted">Account</a>
</div>
<form method="post" novalidate>
    {% csrf_token %}
    {{form|crispy}}
    <button class="btn btn-neutral">Update User</button>
</form>

<div hx-get="{% url 'access:ssh_keys_list' record.id %}" hx-trigger="load" hx-swap="outerHTML"></div>
{% endblock %}