<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>IntaPass</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.2.1/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@1.9.3"></script>
  </head>
  <body>
    <div class="w-full flex">
        <div class="w-56 bg-base-200 h-100 fixed" style="height: 100vh;">
          <ul class="menu w-56">
            <li><a class="btn btn-ghost normal-case text-xl">IntaPass</a></li>
            <li><a href="{% url 'access:index' %}">Access</a></li>
            <!-- <li><a href="{% url 'access:index' %}">Groups</a></li> -->
            <li><a href="{% url 'access:users' %}">Team</a></li>
            <li><a href="{% url 'hosts:index' %}">Hosts</a></li>
            <!-- <li><a href="{% url 'access:index' %}">Policies</a></li>
            <li><a href="{% url 'access:index' %}">Audit Logs</a></li>
            <li><a href="{% url 'access:index' %}">Settings</a></li> -->
          </ul>
        </div>
        <div class="flex-1 ml-56">
          <div>
            <div class="navbar bg-base-100">
              <div class="flex-1">
                <a class="btn btn-ghost normal-case text-xl">{% block page_header %}Access{% endblock %}</a>
              </div>
              <div class="flex-none">
                <ul class="menu menu-horizontal px-1">
                  <li><a>Billing</a></li>
                  <li>
                    <details>
                      <summary>
                        {{user}}
                      </summary>
                      <ul class="p-2 bg-base-100">
                        <li><a>Profile</a></li>
                        <li><a>Log out</a></li>
                      </ul>
                    </details>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="m-4">
            {% block content %}
            {% endblock %}
          </div>
        </div>
    </div>
  </body>
</html>